In [3]:
#1 print tup 
Tup=4,5,6,7,8,9

In [18]:
Tup[0:6]

(4, 5, 6, 7, 8, 9)

In [7]:
tup=(4,5,6,7),(7,6,8,9)

In [10]:
print("tup[0:4]:",tup[0:4])

tup[0:4]: ((4, 5, 6, 7), (7, 6, 8, 9))

In [13]:
list_1=[4,5,6,79]

In [24]:
List_1=tuple(list_1)

In [25]:
List_1

(4, 5, 6, 79)

In [32]:
List_1=['4','5','6','79']
type("tup")

str

In [31]:
tup_1=('foo',[1,2],True)
tup_1[-2][1]=3
tup_1

('foo', [1, 3], True)

In [33]:
A=(1,81,4,9,16,81,49,64,81,100,81,16,81)
A.count(81)

5

In [34]:
#2Use the list below and make a new list B that has only odd elements of this list in it.
A=(1,4,9,16,25,36,49,64,81,100)
a1=[]
for i in A:
    if i%2!=0:
        a1.append(i)
print(a1)

[1, 9, 25, 49, 81]

In [ ]:
#3Suppose z = (2,3,4,5,6), which of the following is INCORRECT?
option D is incorrect

In [41]:
#4
A=(1,4,9,16,25,36,49,64,81,100)
A[1:-1]

(4, 9, 16, 25, 36, 49, 64, 81)

In [42]:
A[::-1]

(100, 81, 64, 49, 36, 25, 16, 9, 4, 1)

In [48]:
#5
record = ('Ajay Kumar Singh', 50, 123.45, (12, 18, 2012))
(a,b,c,(d,e,f))=record
print(a)
print(f)

Ajay Kumar Singh
2012

In [51]:
#6
#we are also allowed to extract the values back into variables. This is called "unpacking"
A=(1,4,9,16,25,36,49,64,81,100)
(_,a,_,_,b,_,_,c,_,d)=A
print(a,b,c,d)

4 25 64 100

In [69]:
#7
record=('Ajay Kumar Singh','davil@example.com','773-555-1212','847-555-1212')
(Name,Emailaddress,*phonenumber,)=record
print(Name,Emailaddress,phonenumber)

Ajay Kumar Singh davil@example.com ['773-555-1212', '847-555-1212']

In [71]:
#10
i = 1
while i<=100:
    if i % 3!=0 and i % 5!=0:
        print(i)
    i=i+1

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49
52
53
56
58
59
61
62
64
67
68
71
73
74
76
77
79
82
83
86
88
89
91
92
94
97
98

In [72]:
#11
for i in range(4):
    for j in range(4-i):
        print("#",end="")
    print()

####
###
##
#

In [73]:
#12
for i in range(1,5):
    for j in range(5-i):
        print(i+j,end=" ")
       
    print()

1 2 3 4
2 3 4
3 4
4

In [74]:
#9
(a=int(input())
if a>0:
    print("positive")
else:
    print("negative")

4
positive

In [75]:
f = [0, 1]
for i in range(2, 50):
    f.append(f[i-1] + f[i-2])
print(f)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049]